<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>


    <section id="homepage">
        <div class="pages">
            <section class="first page">
                {{!-- PAGES 0NE --}}
                {{> sections/first-page }}
            </section>

            <section class="second page">
                {{!-- PAGES TWO --}}
                {{> sections/second-page }}
            </section>

            <section class="third page">
                {{!-- PAGES THREE --}}
                <h2 class="title">THREE</h2>
            </section>

            <section class="fourth page">
                {{!-- PAGES FOUR --}}
                <h2 class="title">FOUR</h2>
            </section>

            <section class="fifth page">
                {{!-- PAGES FIVE --}}
                <h2 class="title">FIVE</h2>
            </section>
        </div>

        {{!-- Header --}}
        {{> common/header }}

    </section>

    {{!-- Footer --}}
    {{> common/footer }}

</body>

</html>