.nav-link {
    height: 50px;
    width: 190px;
    top: 45px;
    z-index: 10;
    padding: 10px 20px;
    border: 3px solid white;
    background-color: transparent;
    box-shadow: 7px 7px 0 white;
    transition: all .15s linear;
    color: $color-two;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);

    &:hover {
        background-color: transparent;
        transform: translate3d(7px, 7px, 0);
        box-shadow: 0 0 0 white;
        border-color: white;
    }
}