<div class="swiper-slide w-100">
    <div class="swiper-header d-flex justify-content-between">
        <div class="col-3">
            <div class="logo w-100">
                <a href="/">
                    <img src="/src/static/assets/logo-1.png" alt="logo">
                </a>
            </div>
        </div>

        <div class="col-md-4 swiper-buttons">
            <div class="frontpage-quicknav">
                <a class="nav-link" href="">Welcome</a>
            </div>

            <button class="navbar-toggler nav-link">
                <span class="navbar-toggler-icon" style="transform: rotate(90deg);"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-nav-dropdown">
                <ul class="navbar-nav d-flex flex-column justify-content-center align-items-center">
                    <li class="menu-item">
                        <a href="#" class="navLink">
                            About
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="#" class="navLink">
                            Product
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="#" class="navLink">
                            Project
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="#" class="navLink">
                            Lorem
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="#" class="navLink">
                            Lorem
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="#" class="navLink">
                            Lorem
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>

    <div class="owl-carousel carousel-one owl-theme">
        <div class="item d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="/src/static/assets/game-image-4.jpg" alt="game-image">
        </div>

        <div class="item d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="/src/static/assets/game-image-2.jpg" alt="game-image">
        </div>

        <div class="item d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="/src/static/assets/game-image-5.jpg" alt="game-image">
        </div>

        <div class="item d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="/src/static/assets/game-image-1.jpg" alt="game-image">
        </div>
    </div>
</div>