<div class="container twin">
    <div class="row">
        <div class="col-6 memor">
            <div class="tw-hov d-flex justify-content-center align-items-center">
                {{> common/twin }}
            </div>
        </div>

        <div class="col-6 memor">
            <div class="tw-hov d-flex justify-content-center align-items-center">

                {{!-- TWIN --}}
                <div class="twins-first position-relative d-flex justify-content-center align-items-center">
                    <img src="/src/static/assets/valorant.jpg" alt="game">
                    <div class="side_on position-absolute d-flex justify-content-center align-items-center">

                        <div class="twin-main position-absolute">
                            <span>Valorant</span>

                            <a href="#" class="hidden-xs">
                                Lorem
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>