<div class="twins-first position-relative d-flex justify-content-center align-items-center">
    <img src="/src/static/assets/wolfenstein youngblood.jpg" alt="game">
    <div class="side_on position-absolute d-flex justify-content-center align-items-center">

        <div class="twin-main position-absolute">
            <span>wolfenstein<br> youngblood</span>

            <a href="#" class="hidden-xs">
                Lorem
            </a>
        </div>
    </div>
</div>